.cover {
  padding: 0 22px;
  background-size: contain;
}

a svg:hover {
  color: #c7105c;
}

#XMLID_10516_:hover {
  fill: #c7105c;
}

[role="button"] {
    cursor: pointer;
}

.st1 {
    fill: #000333;
}
