p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 5px 5px 5px auto;
}

/* Cards */

.card div[class^="col"] {
  border: 2.5px solid white;
  background: #f5f5f5;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 8px;
  height: 145px;
}

.col-md-1:hover {
  color: #c7105c;
}

.st1 > :hover {
  color: #c7105c;
}

/* Padding for spacing */
.inner {
  padding: 50px;
}
