/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url(../img/gemischt/seamless.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  text-shadow: 0 1px 0px rgba(0,0,0,.2);
  color: #474747;
}

h1, h4, li, p, span {
  font-family: 'Oswald', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
  box-shadow: inset 0 0 100px rgba(0,0,0,.2);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

#sub {
  color: #c7105c;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: none;
  }
}


/*
 * Cover
 */

a {
  color: #333;
  font-size: 14pt;
}

a:hover {
  color: #c7105c;
  text-decoration: none;
}

img {
  height: 120px;
}

#glossar {
  font-size: 14pt;
}

/*
 * Footer
*/

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

#foot {
  font-size: 21px;
  color: #333;
  opacity: 0.4;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
