/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url('../img/gemischt/cork_kl.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 /* Background pattern from subtlepatterns.com */
  /*
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  */
}

body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  color: #0081FF;
  background-blend-mode: darken;
}

li, p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
} 

h1 {
  font-family: 'Anton', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
  box-shadow: inset 0 0 100px rgba(0,0,0,.2);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

span.glyphicon {
  font-size: 0.8em;
  margin-right: 5px;
}

a:hover > .glyphicon  {
  color: #FF9F00;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: normal;
  color: #198EFF; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #0081FF;
  border-bottom-color: #0081FF;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: none;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  background-size: contain;
}

.cover .btn-lg {
  font-size: 22pt;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #transparent;
  border-top-color: #transparent;
  border-radius: 0px;
}

.btn {
  color: #0081FF;
}

.btn-info {
  background-color: transparent;
}

.lead {
  color: #0081FF;
  font-size: 28pt;
}

.cover-heading {
  font-size: 60px;
  mix-blend-mode: difference;
  color: #005AB2;
}

a {
  color: #0081FF;
  font-size: 28pt;
}

img {
  height: 120px;
}

/*
 * Footer
*/

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
